@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  font-family: "Inter";
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
}

html {
  background-color: #56baed;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

#formFooter > a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

#formContent > h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

#formContent > h2.inactive {
  color: #cccccc;
}

#formContent > h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

#togglePassword {
  margin-left: -30px; 
  cursor: pointer;
  position: relative;
}

input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="password"]::placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 100px;
  height: 100px;
}

/* Notifications */

.notifications {
  width: 18rem;
  position: fixed; /* Set the container as fixed */
  bottom: 1rem; /* Adjust the bottom position as needed */
  right: 1rem; /* Adjust the right position as needed */
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0.5rem;
}

.noti {
  position: relative;
  height: 0;
  transition: height 300ms ease;
  flex-shrink: 0;
  opacity: 1;
}
.noti.out {
  animation: notiOut 500ms ease forwards;
}
@keyframes notiOut {
  to {
    height: 0;
  }
}

.noticard {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  width: 18rem;
  max-height: 8rem; /* Limit the notification's height */
  d-height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  animation: notiCardIn 500ms ease;
}

@keyframes notiCardIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
}
.noti.out .noticard {
  animation: notiCardOut 500ms ease forwards;
}
@keyframes notiCardOut {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
.noticard:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}
.noticard:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.noticard:hover:after {
  transform: translateX(0.15rem);
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.5rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.noti:hover .notititle {
  transform: translateX(0.15rem);
}
.notidesc {
  color: #99999d;
  padding: 0 0.5rem 0.85rem 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.noti:hover .notidesc {
  transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}
.notiglow {
  z-index: 3;
}
.notiborderglow {
  z-index: 1;
}

.noti:hover .notiglow {
  opacity: 0.1;
}
.noti:hover .notiborderglow {
  opacity: 0.1;
}

/* Counter Section */
.counter-section {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter-section > .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-family: "Poppins";
  color: #56baed;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  /* Simple shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 15px rgba(66, 182, 197, 0.5);
}

.counter-section > .straz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-family: "Poppins";
  color: white;
  margin: 10px;
}

.counter-section > .adminpanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.counter-section > .adminpanel > .admin {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  font-family: "Poppins";
  color: black;
  margin: auto;
  margin: 25px 0px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.counter-section > .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.counter-section > .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.counter-section > .right > table {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}

.counter-section > .right > table tr td {
  padding: 10px;
}

.counter-section > .right > table tr td > span {
  font-weight: bold;
  text-align: center;
}

.counter-section > .left > button {
  display: block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}

.counter-section > .left > h1 {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

/* Logout button not affecting website */
.logout {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  font-family: "Poppins";
  color: black;
  margin: auto;
  margin: 25px 0px;
  width: 100%;
}

/* Media Query for Mobile Devices */
@media (max-width: 1000px) {

  body {
    overflow: auto;
  }
  
  #formContent {
    width: 100%;
    max-width: 100%;
  }

  input[type="text"],
  input[type="password"] {
    width: 80%;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    margin: 5px 0;
    width: 80%;
  }

  .wrapper {
    padding: 20px;
  }

  .counter-section {
    height: 80%;
  }

  .counter-section > .left {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .counter-section > .right {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .counter-section > .top {
    font-size: 30px;
  }

  .counter-section > .straz {
    font-size: 30px;
  }

  .counter-section > .adminpanel > .admin {
    font-size: 15px;
  }

  .counter-section > .right > table {
    font-size: 15px;
  }

  .counter-section > .left > button {
    font-size: 15px;
  }

  .counter-section > .left > h1 {
    font-size: 30px;
  }

  .logout {
    font-size: 15px;
  }

}
